.navItem {

  text-align: left;
  /* margin-left: 75%; */
width:fit-content !important;
  padding: 0 0 0 0 !important;
 /* border-style: groove;*/
  border-radius: 25px;

}
.navItemTwo {

  text-align: left;
  /* margin-left: 75%; */
width:fit-content !important;
  padding: 0 0 0 0 !important;
  /*border-style: groove;*/
  border-radius: 25px;
  margin-top: 10px;
}
.barWidth{

  color: aliceblue !important;
  height: 50%;
}
.navbarLogo {
  /* text-align: left;
  margin-left: auto; */
  margin-left: 18px;
  width: 29%;
}

/* tweet button */
.tweetBtn {
  height: 52px;
  margin-right: auto !important;
  width: 200px ;
  background-color: aliceblue;
}
.tweetBtnSmall
{
  width:60px !important;
  height: 60px !important;
  margin-right: auto !important;
  margin-left: 0px !important;
  background-color: aliceblue;
}
.logoutButton
{
  margin-top: auto ;
  width:30% !important

}

.logoutButtonStyle
{
  padding: 20px;
  width:auto
}
.logout:hover {
  background-color:rgb(220, 53, 69)!important;
}
.logout{
  margin-top: -20px!important;
  width: 200px !important;
  padding: 15px;
  margin-left:-10px !important

}
.widthSmall{

}
@media only screen and (min-width: 0px) and (max-width:1280px) {
  .logout{
    margin-top: -100px!important;
    width: 10vw!important;
    padding: 10px;
    margin-left:-10px !important
  
  }
  .logoutButtonStyle
  {
    padding: 20px;
    width:10vw !important
  }

  .logout:hover {
    background-color:rgb(220, 53, 69)!important;
  }


}

@media only screen and (width: 412px) {
  .logout{
    margin-top: -100px!important;
    width: 18vw!important;
    padding: 10px;
    margin-left:-10px !important
  
  }
  .logoutButtonStyle
  {
    padding: 20px;
    width:18vw !important
  }

  .logout:hover {
    background-color:rgb(220, 53, 69)!important;
  }

}

@media only screen and (min-width:0px)  and (max-width:768px){
   
  .navButtonSmall {
    padding: 0px 0px !important;
    width: 10vw !important;
    height: 50px !important;
    margin: auto 0 !important;
  }
  .navButtonSmall:hover {
    background-color: rgba(13,110,253,0.5);
  }

  .navbarLogo {
    /* text-align: left;
    margin-left: auto; */
    margin-left: 2vw;
    width: 29%;
  }
  .logout{
    margin-top: -100px!important;
    width: 12vw!important;
    padding: 10px;
    border-style: none;
font-size:x-small;
    
  }
  .logoutButtonStyle
  {
    padding: 20px;
    width:15vw !important;
    margin-left:-15px !important;
  }

  .logout:hover {
    background-color:rgb(220, 53, 69)!important;
  }
}