

.navButton {



  padding: 0px 0px !important;
  width: 150px;
  margin: auto 0 !important;
  height: fit-content;
}

.navButtonContainer
{
  width: 150px;
  text-align:left!important;

}


.navButton:hover {

  background-color: rgba(13,110,253, 1);
width:fit-content
}
.navButton:focus
{
  outline: 0px !important  ;
}
.navButtonSmall {
  padding: 0px 0px !important;
  width: 100px !important;
  height: 50px !important;
  margin: auto 0 !important;
}
.navButtonSmall:hover {
  background-color: rgba(13,110,253,0.5);
}

.navOption {
  text-align: right;

  padding: 20px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
}
.logoColor{
  color: aliceblue;
}
.logoColorMargin{
  color: aliceblue;
  margin-right: 30px;
}
.logoColorMargin2{
  color: aliceblue;
  margin-right: 68px;
}
.floatParentElement {
  width: 50% ;
}
.floatChildElement {
  float: left;
  width: 50%;
  padding:6px;
}
.tabText {
  /* width: 75%; */
  text-align: left !important;
 width:130px;
  color:aliceblue;
font-size: medium;
font-weight: 700;
margin-bottom: -50px;
margin-top: -37px;
margin-left: 30px;
}

.leftChild {
  width: 25%;
  text-align: end;
}
@media only screen and (min-width: 769px) and (max-width:1280px) {
  .navButtonContainer
  {
    width: 40vw;
    text-align:left!important;
  
  }
  .navButton {



    padding: 0px 0px !important;
    width:  16vw;
    margin: auto 0 !important;
    height: fit-content;
  }

  .tabText {
    /* width: 75%; */

   width:100px;
    
  }

  
}

@media only screen and (min-width: 0px)  and (max-width:769px){
   
  .navButtonSmall {
    padding: 0px 0px !important;
    width: 10vw !important;
    height: 50px !important;
    margin: auto 0 !important;
    margin-left: -2vw!important;
  }
  .navButtonSmall:hover {
    background-color: rgba(13,110,253,0.5);
  }
  
}