.followcard{
    display: flex;
    width: 100%;
    height:100%;
    padding: 10px 15px 0px 15px;
    background-color: rgb(247, 249, 249);
}
.followcard:hover{
    background-color: #eff1f1;

}
.account__badge{
    margin-left: 2px;
    font-size:  medium !important;
    color:rgb(26, 145, 218);
    align-self: center;
}
.middlepart_1{
    display: flex;
    align-items: flex-start;
}
.name{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
.name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tag{
    font-size: 15px;
    color: #536471;
    margin-bottom: 0px;
}
.about{
    margin-top: 10px;
}
/* .middlepart{
    flex-grow:8;
} */
.followbtn__container{
    margin-left: auto;
    align-self: center;
    margin-bottom: 10px;
}
.followers__container{
    display: flex;
}
.followbtn{
    
    padding: 4px 16px ;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: #0F1419;
    flex-shrink: 0;
    
}

.followbtn:hover {
    background-color:#3f4347;
  }

.followingNumber{
    font-size: 15px;
    font-weight: bold; 
    margin-right: 5px;
}


.followersNumber{
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
}
.followernumber__container ,.following__container {
    display: flex;
}
.followernumber__container:hover ,.following__container:hover {
    cursor: pointer;
    text-decoration: underline;
}

.toolbtn_container{
    display: flex;
}  

.tooltip {
    position:relative;
    display: inline-block;
    /* float: left; */
    margin-right: 5%;
}

.tooltip__icon{
  cursor: pointer;
  margin-bottom: 5px !important;
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    color: #3f4347;
    text-align: left;
    border-radius: 15px;
    padding: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* left: -100px;
    top: 60px; */
    right: 105%;
    top: 0px;
 
}  
#displayRight {
    visibility: hidden;
    width: 300px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    color: #3f4347;
    text-align: left;
    border-radius: 15px;
    padding: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 50;
    /* left: -100px;
    top: 60px; */
    left: 105%;
    top: 0px;
 
}
#displayLeft {
    visibility: hidden;
    width: 300px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    color: #3f4347;
    text-align: left;
    border-radius: 15px;
    padding: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 50;
    /* left: -100px;
    top: 60px; */
    right: 105%;
    top: 0px;
 
}

.tooltip:hover #displayRight {
    visibility: visible;
}

.tooltip:hover #displayLeft {
    visibility: visible;
}