.textAlign{
    text-align: center;
}
.picBorder{
    box-shadow: 5px 5px 5px grey;
}
.tweet{
    font-size: 50px;
    margin-top: -20px;

    margin-left: 18px;
    margin-right: 18px;
}
.textAlign2{
    text-align: center;
 
    margin-bottom: -30px;
}

