

.navButton {



  padding: 0px 0px !important;
  width: fit-content !important;
  margin: auto 0 !important;
  height: fit-content;
}

.navButtonContainer
{

  text-align:left!important;

}


.navButton:hover {

  background-color: rgba(18, 102, 241, 0.5);

}
.navButton:focus
{
  outline: 0px !important  ;
}
.navButtonSmall {
  padding: 0px 0px !important;
  width: 50px !important;
  height: 50px !important;
  margin: auto 0 !important;
}
.navButtonSmall:hover {
  background-color: rgba(13,110,253,0.5);
}

.navOption {
  text-align: right;

  padding: 20px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.floatParentElement {
  width: 50% ;
}
.floatChildElement {
  float: left;
  width: 50%;
  padding:6px;
}
.tabText {
  width: 50%;
  text-align: left !important;
}

.leftChild {
  width: 25%;
  text-align: end;
}
