.navItem {

  text-align: right;
  /* margin-left: 75%; */

  padding: 7% 0 7% 7%;
}
.navbarLogo {
  /* text-align: left;
  margin-left: auto; */
  margin-left: 18px;
  width: 29%;
}

/* tweet button */
.tweetBtn {
  height: 50px;
  margin-left: auto !important;
  width: 40% ;
}
.tweetBtnSmall
{
  width:60px !important;
  height: 60px !important;
  margin-right: auto !important;
  margin-left: 0px !important;
  
}

