.navItem {

  text-align: left;
  /* margin-left: 75%; */

  padding: 0 0 0 0 !important;
}
/* twitter logo */
.navbarLogoSmall {
  
  margin-right: auto !important;
  margin-left: auto !important;
  width: 29%;
}

.navbarLogoNormal {
  
  margin-right: auto !important;
  /* margin-left: auto !important; */
  width: 100%;
  padding-left: 20%;
}


/* tweet button */
.tweetBtn {
  height: 52px;
  margin-right: auto !important;
  width: 100% ;
}
.tweetBtnSmall
{
  width:60px !important;
  height: 60px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  
}


/* logout button */
.logoutButton
{
  margin-top: auto ;
  

}

.logoutButtonStyle
{
  padding: 20px;
}