.nav-item {
  text-align: right;
  /* margin-left: 75%; */

  padding: 7% 0 7% 7%;
}
.navbar-logo {
  text-align: left;
  margin-left: auto;
  width: 29%;
}

/* tweet button */
.tweet-btn {
  height: 50px;
  margin-left: auto !important;
}
.tweet-btn-small
{
  width:50px !important;
  margin-right: auto !important;
  margin-left: 0px !important;
}

.container-fluid {
  /* position: fixed; */
}
