.tweetBox {
  font-family: sans-serif;
  text-align: center;
  max-width: 100%;
  margin: auto;
}

.actionBar {
  display: flex;
  justify-content: space-between;
}

.actionBar__Submit {
  display: flex;
}

.thematicBreak {
  display: block;
  padding: 8px 5px;
}

.thematicBreak::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(235, 238, 240);
}

.thematicBreakVertical {
  display: block;
  padding: 5px 8px;
}

.thematicBreakVertical::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgb(235, 238, 240);
}

.reactJsonViewer {
  text-align: left;
  margin-top: 16px;
  padding: 10px;
  background-color: #002b36;
  border-radius: 10px;
}

.info {
  padding: 24px;
  margin-top: 24px;
  background-color: #e7ebec;
}

.info p {
  color: #268bd2;
}

.info h1 {
  font-size: 24px;
}

.info h1,
a {
  color: #798f0b;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.imageInput {
  cursor: pointer;
  padding: 0px !important;
  margin: 10px 0px 0px 0px !important;
}
