.search__input {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    background-color: rgb(239, 243, 244);
    padding: 10px;
    border-radius: 30px;
}

.search__inputtext {
border: none;
outline: none;
width: 95%;
margin-right: 5%;
margin-left: 5px;
background-color: rgb(239, 243, 244);

}
.search__inputtext:focus{
    background-color: white;
}
.search__input:focus-within{
    border-style: solid;
    border-width: 1px;
    border-color:rgb(26, 145, 218);
    background-color: white;

    
}
.search__searchIcon {
color: gray;
}


.search__inputtext:focus + .search__searchIcon {
    color: rgb(26, 145, 218);
}

.close__btn{
    background-color: transparent;
    padding: 5px;
}
.close__btn:hover{
    cursor: pointer;
}
.close__icon{
    border-radius: 100%;
    padding: 3px;
    background-color: rgb(29, 155, 240); 
    color: white !important;
}