.tweet-popup
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.popup-inner-content {
 position:relative;
 padding:10px;
 width: 100%;
 top:22%;
 left: 33.33%;
 max-width: 640px;
 background-color: white;


}

.popup-inner-content .tweet-popup-close-button{
    padding: 0;


}