.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999999;
  }
  .dropDown{
   font-size: 14pt;
   margin-top: 10px;
   border-color: grey;
   border-style: none;
   border-radius: 4px;
  }
  .textStyle{
      font-size: 14pt;
  }