.search_container{
    /* display: flex; */
    align-items:center;
    /* justify-content: space-between;  */
    padding: 10px;
    
}
.search_bar{
   float: left;
}
.back_icon{
    float: left;
    margin-right: 20px !important;
} 
.more_icon{
    float: right;
    margin-left: 20px !important;
    
} 

