.topNavbar{
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    padding: 10px;
    top: 0;
    align-self: flex-start; /* <-- this is the fix */
    background-color: white; 
    z-index: 100;
}

h2{
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}
.widget__divider{
    border-left: 1px solid rgb(235, 238, 240);
    height: 100%;
}
.widget__padding{
    padding-left: 15px;
    width: 350px;
}
.widget__whotofollowbox{
    width:100%;
    height:100%;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 15px;
    margin: 20px 0px 0px 0px;
    background-color: rgb(247, 249, 249);    
}
.widget__showmore{
    color: #1D9BF0;
    width:100%;
    height:100%;
    cursor:pointer;
    font-weight:normal;
    background-color: rgb(247, 249, 249);  
    border-radius: 0px 0px 15px 15px;
    padding: 10px 15px;
}
.widget__showmore:hover{
    background-color: #eff1f1;
}
