
.logo{
    height:50px;
    width: 100px;
}
.toDateSelector{
    margin-left: 300px;
    margin-top: -54px;
}
.chart{
    margin-left: 20px;
    margin-top: 20px;
}
.fromDateSelector{
    margin-left: 20px;
}