.navBorder{
    padding-left: 0 !important ;
    padding-right: 0 !important;
    border-right:3px solid grey;
    box-shadow: 2px 2px 2px grey;

}
.barWidth{

  background-color:rgba(33, 85, 205,1);

}
.pageColor{
    background-color:rgba(242, 242, 242,1) ;
    height: 100vh;
}
.chartBox {
  margin-top: 20px;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
  box-shadow: 5px 5px 5px grey;
}
@media only screen and (min-width: 0px) and (max-width:1280px) {

}