.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  cursor: pointer;


}

.post:hover {
  background-color: rgba(185, 178, 178, 0.1) !important;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body>img {
  border-radius: 20px;
  width: 100%;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__footer_2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText>h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

.is-liked {
  cursor: pointer;
  color: red !important;
}

.fav-icon:hover {
  cursor: pointer;
  color: red !important;
  transition: 0.2s all ease-in-out;
}

.likeCounter {
  font-size: 80%;



}

.is-retweet {
  cursor: pointer;
  color: green !important;
}

.retweet-icon:hover {
  cursor: pointer;
  color: green !important;
  transition: 0.2s all ease-in-out;
}



#dropdown-basic::after {
  display: none !important;
}

#dropdown-basic {
  width: 40px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  color: black;
  border-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none;

}

.custom-icon {
  width: 30px !important;
  height: 30px !important;
  padding: 5px;
  cursor: pointer;
}

.custom-icon:hover {
  background-color: rgba(185, 178, 178, 0.1);
  border-radius: 60%;

  /* margin-right: 4px; */
}

.full-screen {
  z-index: 2000;
  background-color: rgba(64, 51, 50, 0.9);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

}


.img-full {
  margin-left: 10%;
  width: 80%;
  height: 90%;
}

.close-icon {
  position: fixed;
  font-size: 25px !important;
  margin-left: 20px;
  margin-top: 20px;
  color: aliceblue;
  background-color: rgba(185, 178, 178, 0.1);
  border-radius: 60%;


}

.close-icon:hover {
  background-color: rgba(185, 178, 178, 0.1);
  border-radius: 60%;
  cursor: pointer;
  /* margin-right: 4px; */
}

.custom-icon-full {
  width: 30px !important;
  height: 30px !important;
  padding: 5px;
  cursor: pointer;
}

.custom-icon-full:hover {
  background-color: rgba(185, 178, 178, 0.1);
  border-radius: 60%;
  /* margin-right: 4px; */
}

.post__footer__full {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  color: aliceblue;
}

.likeCounter-full {
  font-size: 80%;
  color: aliceblue;
}

#dropdown-basic-full {
  width: 40px !important;
  background-color: transparent;
  color: white;
  border-color: transparent;
  box-shadow: none;
}

#dropdown-basic-full::after {
  display: none !important;
}

.img-post {
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.border-img-all {
  border-radius: 25px 25px 25px 25px;
}

.h-100 {
  height: 100% !important;
}

.text-overflow {

  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.right-pad {
  padding-right: 1%;

}

.left-pad {
  padding-left: 1%;
}

.up-pad {
  padding-top: 1%;

}

.down-pad {
  padding-bottom: 1%;
}

.border-left-up {
  border-radius: 25px 0px 0px 0px;
}

.border-left-down {
  border-radius: 0px 0px 0px 25px;
}

.border-right-up {
  border-radius: 0px 25px 0px 0px;
}

.border-right-down {
  border-radius: 0px 0px 25px 0px;
}

.border-left-right {
  border-radius: 0px 0px 25px 25px;
}

.verified-color {
  color: rgb(26, 145, 218);
}

.replyingTo-post {
  font-size: 15px;
  font-weight: 400;
  color: rgb(83, 100, 113);
}

.replyingUser-post {
  color: rgb(29, 155, 240);
}

.full-border-left {
  border-radius: 25px 0px 0px 25px;
}

.full-border-right {
  border-radius: 0px 25px 25px 0px;
}