.post-full {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;

}

.post__body-full {
    flex: 1;
    padding: 10px;
}

.post__body-full>img {
    border-radius: 20px;
    width: 100%;
}

.post__footer-full {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 1px solid;
    border-top-color: rgb(239, 243, 244);
}

.post__footer_full-full {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    border-top: 1px solid;
    border-top-color: rgb(239, 243, 244);
}



.post__headerDescription-full {
    margin-bottom: 10px;
    font-size: 20px;
}

.post__headerText-full>h3 {
    font-size: 16px;
    margin-bottom: -3px;
}

.post__badge-full {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post__headerSpecial-full {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__avatar-full {
    padding: 20px;
}

.is-liked-full {
    cursor: pointer;
    color: red !important;
}

.fav-icon-full:hover {
    cursor: pointer;
    color: red !important;
    transition: 0.2s all ease-in-out;
}

.likeCounter-full {
    font-size: 80%;



}

.is-retweet-full {
    cursor: pointer;
    color: green !important;
}

.retweet-icon-full:hover {
    cursor: pointer;
    color: green !important;
    transition: 0.2s all ease-in-out;
}

#dropdown-basic::after {
    display: none !important;
}

#dropdown-basic {
    width: 40px !important;
    background-color: white;
    color: black;
    border-color: white;
    box-shadow: none;

}

.custom-icon-full {
    width: 30px !important;
    height: 30px !important;
    padding: 3px;
    cursor: pointer;
}

.custom-icon-full:hover {
    background-color: rgba(185, 178, 178, 0.1);
    border-radius: 60%;

    /* margin-right: 4px; */
}

.full-screen-full {
    z-index: 2000;
    background-color: rgba(64, 51, 50, 0.9);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

}


.img-full-full {
    margin-left: 10%;
    width: 80%;
    height: 90%;
}

.close-icon-full {
    position: fixed;
    font-size: 25px !important;
    margin-left: 20px;
    margin-top: 20px;
    color: aliceblue;
    background-color: rgba(185, 178, 178, 0.1);
    border-radius: 60%;


}

.close-icon-full:hover {
    background-color: rgba(185, 178, 178, 0.1);
    border-radius: 60%;
    cursor: pointer;
    /* margin-right: 4px; */
}

.custom-icon-full-full {
    width: 30px !important;
    height: 30px !important;
    padding: 5px;
    cursor: pointer;
}

.custom-icon-full-full:hover {
    background-color: rgba(185, 178, 178, 0.1);
    border-radius: 60%;
    /* margin-right: 4px; */
}

.post__footer__full-full {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    color: aliceblue;

}

.likeCounter-full-full {
    font-size: 80%;
    color: aliceblue;
}

#dropdown-basic-full-full {
    width: 40px !important;
    background-color: transparent;
    color: white;
    border-color: transparent;
    box-shadow: none;
}

#dropdown-basic-full-full::after {
    display: none !important;
}

.img-post-full {
    cursor: pointer;
}

.w-100-full {
    width: 100% !important;
}

.h-100-full {
    height: 100% !important;
}

.w-50-full {
    width: 50% !important;
}

.h-50-full {
    height: 50% !important;
}

.p-0-full {
    padding: 0 !important;
}

.m-0-full {
    margin: 0 !important;
}

.border-img-all-full {
    border-radius: 25px 25px 25px 25px;
}

.h-100-full {
    height: 100% !important;
}

.text-overflow-full {

    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.right-pad-full {
    padding-right: 1%;

}

.left-pad-full {
    padding-left: 1%;
}

.up-pad-full {
    padding-top: 1%;

}

.down-pad-full {
    padding-bottom: 1%;
}

.border-left-up-full {
    border-radius: 25px 0px 0px 0px;
}

.border-left-down-full {
    border-radius: 0px 0px 0px 25px;
}

.border-right-up-full {
    border-radius: 0px 25px 0px 0px;
}

.border-right-down-full {
    border-radius: 0px 0px 25px 0px;
}

.border-left-right-full {
    border-radius: 0px 0px 25px 25px;
}

.verified-color-full {
    color: rgb(26, 145, 218);
}

.img-height-full {
    height: 450px;
}

.retweets-full-full {
    margin-right: 10%;
    font-size: 17px;
}

.retweets-text-full {
    margin-left: 5%;
    color: rgb(83, 100, 113);
    font: weight 400px;

}

.retweets-count-full {
    color: rgb(15, 20, 25);
    font-weight: 700;
}

.full-border-left-full {
    border-radius: 25px 0px 0px 25px;
}

.full-border-right-full {
    border-radius: 0px 25px 25px 0px;
}