.UserName {
    font-weight: bold !important;
    position: relative;
    left: 7px;
    top: -35px;
}

.UserNamePro {
    font-weight: inherit !important;
    position: relative;
    left: 7px;
    top: -40px;
}

.Cover {
    width: 100%;
    height: 0px;
    object-position: center top;
}

.ProfilePic {
    position: relative;
    top: -40px;
    left: 10px;
    border-radius: 50%;
}

.editbutton {
    position: relative;
    left: 80%;
    bottom: 205px;
    width: 2.8cm;
    height: 0.9cm;
    border-radius: 25px !important;
    border-color: lightgray !important;
    font-weight: bold !important;
    text-emphasis-color: black;
    color: black;
}

.editbutton:hover {
    background-color: white !important;
    color: black !important;
}

.editbutton::after {
    background-color: white !important;
    color: black !important;
    border-color: lightgray !important;
    text-decoration: none !important;
}

.bellbutton {
    position: relative;
    left: 56%;
    bottom: 205px;
    width: 0.7cm;
    height: 0.8cm;
    border-radius: 25px !important;
    border-color: lightgray !important;
    font-weight: bold !important;
    text-emphasis-color: black;
    color: black;
}

.envbutton {
    position: relative;
    left: 45%;
    bottom: 205px;
    width: 0.7cm;
    height: 0.8cm;
    border-radius: 25px !important;
    border-color: lightgray !important;
    font-weight: bold !important;
    text-emphasis-color: black;
    color: black;
}

.dotsbutton {
    position: relative;
    left: 30%;
    bottom: 205px;
    width: 0.7cm;
    height: 0.8cm;
    border-radius: 25px !important;
    border-color: lightgray !important;
    font-weight: bold !important;
    text-emphasis-color: black;
    color: black;
}

.bellbutton:hover {
    background-color: white !important;
    color: black !important;
}

.envbutton:hover {
    background-color: white !important;
    color: black !important;
}

.dotsbutton:hover {
    background-color: white !important;
    color: black !important;
}

::-webkit-scrollbar {
    width: 0.5cm;
}

.fullscreen {
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.imgfull {
    margin-left: 10%;
    width: 80%;
    height: 90%;
}

.bellicon {
    position: relative !important;
    top: 0px !important;
    bottom: 20% !important;
    max-width: 100% !important;
    height: 1.0em !important;
    display: inline-block !important;
    color: black !important;
    fill: currentcolor !important;
    vertical-align: text-bottom !important;
    margin-right: 4px !important;
    user-select: none !important;
}

.envicon {
    position: relative !important;
    top: 0px !important;
    bottom: 20% !important;
    max-width: 100% !important;
    height: 1.0em !important;
    display: inline-block !important;
    color: black !important;
    fill: currentcolor !important;
    vertical-align: text-bottom !important;
    margin-right: 4px !important;
    user-select: none !important;
}

.doticon {
    position: relative !important;
    top: 0px !important;
    bottom: 20% !important;
    max-width: 100% !important;
    height: 1.0em !important;
    display: inline-block !important;
    color: black !important;
    fill: currentcolor !important;
    vertical-align: text-bottom !important;
    margin-right: 4px !important;
    user-select: none !important;
}

@media(max-width:1500px) {
    .editbutton {
        position: relative;
        left: 70%;
        bottom: 205px;
        border-radius: 25px !important;
        font-weight: bold !important;
        color: black;
    }
}