.UserName {
    font-weight: bold !important;
    position: relative;
    left: 7px;
    top: -35px;
}

.UserNamePro {
    font-weight: inherit !important;
    position: relative;
    left: 7px;
    top: -35px;
}

.Cover {
    width: 100%;
    height: 0px;
    object-position: center top;
}

.ProfilePic {
    position: relative;
    top: -40px;
    left: 1px;
    border-radius: 50%;
}

.edit-button {
    position: relative;
    left: 600px;
    top: -190px;
    border-radius: 25px !important;
    font-weight: bold !important;
    color: black;
}