.UserName {
    font-weight: bold !important;
}

.Cover {
    width: 100%;
    height: 0px;
    object-position: center top;
}

.ProfilePic {
    object-position: 2px 4px;
    border-radius: 50%;
}

.Btn {
    border-radius: 25px !important;
}