.bio {
    font-size: 14px;
    font-family: inherit;
    line-height: 30px;
    margin: -20px 10px;
    max-width: 468px;
}

.timejoined {
    font-size: 13px;
    font-family: inherit;
    font-weight: lighter;
    position: relative;
    top: -20px;
    left: 5px;
}