.bio {
    position: relative;
    font-size: 15px;
    font-family: inherit;
    top: -20px;
    margin: -2.5% 0.66%;
    overflow-wrap: break-word;
    min-width: 0px;
    max-width: 468px;
}

.bioo {
    position: relative;
    font-size: 15px;
    font-family: inherit;
    top: 90px;
}

.timejoined {
    font-size: 15px;
    font-family: inherit;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    margin-right: 12px;
    color: rgb(83, 100, 113);
    overflow-wrap: break-word;
    min-width: 0px;
    display: inline-block;
    white-space: nowrap;
    top: 75%;
    bottom: 20%;
    vertical-align: text-bottom;
    left: 205px;
}

.following {
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: absolute;
    color: rgb(83, 100, 113);
    top: 80px;
    left: 10px;
    line-height: 20px;
}

.follower {
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: absolute;
    color: rgb(83, 100, 113);
    top: 80px;
    left: 105px;
    line-height: 20px;
}

.following:hover {
    text-decoration: underline;
    cursor: pointer;
}

.follower:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.numb1 {
    top: 0px;
    left: -13px;
    position: absolute;
    font-weight: bold;
    color: black;
}

.born {
    font-size: 15px;
    font-family: inherit;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    margin-right: 12px;
    color: rgb(83, 100, 113);
    overflow-wrap: break-word;
    min-width: 0px;
    display: inline-block;
    white-space: nowrap;
    top: 75%;
    bottom: 20%;
    vertical-align: text-bottom;
    left: 20px;
}

.loc {
    font-size: 15px;
    font-family: inherit;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-right: 12px;
    color: rgb(83, 100, 113);
    overflow-wrap: break-word;
    min-width: 0px;
    display: inline-block;
    white-space: nowrap;
    top: 13px;
    bottom: 20%;
    vertical-align: text-bottom;
    left: 133px;
}

.bicon {
    position: absolute !important;
    top: 79% !important;
    bottom: 20% !important;
    max-width: 100% !important;
    height: 1.0em !important;
    display: inline-block !important;
    color: rgb(83, 100, 113) !important;
    fill: currentcolor !important;
    vertical-align: text-bottom !important;
    margin-right: 4px !important;
    user-select: none !important;
}

.numb2 {
    top: 0px;
    left: -13px;
    position: absolute;
    font-weight: bold;
    color: black;
}

hr {
    margin: auto 20px;
    border: 1.5px solid rgb(150, 150, 150);
}

@media(max-width:1500px) {
    .follower {
        font-size: 15px;
        font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        position: relative;
        color: rgb(83, 100, 113);
        top: 35px;
        left: 105px;
        line-height: 20px;
    }
    .bio {
        position: relative;
        font-size: 14px;
        font-family: inherit;
        top: 20%;
        margin: 0% 0.66%;
        overflow-wrap: break-word;
        min-width: 0px;
        max-width: 468px;
    }
    .timejoined {
        font-size: 15px;
        font-family: inherit;
        font-weight: normal;
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        margin-right: 12px;
        color: rgb(83, 100, 113);
        overflow-wrap: break-word;
        min-width: 0px;
        display: inline-block;
        white-space: nowrap;
        top: 90%;
        bottom: 20%;
        vertical-align: text-bottom;
        left: 170px;
    }
    .following {
        font-size: 15px;
        font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        position: absolute;
        color: rgb(83, 100, 113);
        top: 175%;
        left: 10px;
        line-height: 20px;
    }
    .numb1 {
        top: 0px;
        left: -13px;
        position: absolute;
        font-weight: bold;
        color: black;
    }
    .numb2 {
        top: 0px;
        left: -13px;
        position: absolute;
        font-weight: bold;
        color: black;
    }
    .born {
        font-size: 15px;
        font-family: inherit;
        font-weight: normal;
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        margin-right: 12px;
        color: rgb(83, 100, 113);
        overflow-wrap: break-word;
        min-width: 0px;
        display: inline-block;
        white-space: nowrap;
        top: 90%;
        bottom: 20%;
        vertical-align: text-bottom;
        left: 20px;
    }
}