.tabs {
    /* margin: 20px 10px; */
    position: relative;
    text-decoration: none;
    color: gray;
    text-indent: 0%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.alltab {
    width: 100%;
    height: 10vh;
    position: relative;
    bottom: -40px;
    left: -3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tabs:hover {
    color: black;
    transition-duration: 0.2s;
    cursor: pointer;
}

.tabs::after {
    color: grey;
}

.hr {
    margin: 0.03mm;
    font-weight: 5;
    font-size: 1px;
    color: black !important;
    position: relative;
    top: -12px;
}

@media(max-width:800px) {
    .alltab {
        width: 100%;
        height: 10vh;
        position: relative;
        bottom: 0px;
        left: -3%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}