


/*--------------------------------------------------------------*/
.loginFotter {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: rgb(110, 118, 125);
}
.footer-links {
  margin: 10px;
  text-decoration: none;
  font-size: 13px;
  color: rgb(110, 118, 125);
}
/* ----------------------------Login-----------------------------------------------*/
.root-login {
  margin: 0px;
  padding: 0px;
}
.HomePage {
  /* display: flex; */
  background-color: black;
  padding: 0px;
  margin: 0px;
  color: rgb(217, 217, 217);
  width: 100%;
  
}
.container {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/* ----------------------------Right half-----------------------------------------------*/
.RightHalf-div {
  padding: 0px;
  margin: 0px;
}
.RightHalf {
  /*position: relative;*/
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 40px;
  padding-bottom: 0px;
  width: auto;
  height: 100%;
}

.fa-twitter {
  color: rgb(217, 217, 217);
  font-size: 40px;
}
.h1-for-login {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}
.Join-Twitter-today {
  font-family: "Poppins", sans-serif;
  margin-top: 35px;
  font-size: 2rem;
}
/* Text between <hr> tag */
.line {
  margin-top: 15px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: rgb(110, 118, 125);
  text-align: center;
  height: 1.5em;
  /* opacity: 0.3; */
  width: 300px;
}
.line::after,
.line::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  background: rgb(110, 118, 125);
  width: 45%;
  top: 45%;
}
.line::after {
  left: 0;
}
.line::before {
  right: 0;
}
.or {
  margin: auto;
  padding-top: 2px;
  color: white;
  text-align: center;
  opacity: 0.9;
}

/* ---------------------------------- */

.updatedBtn {
  display: block;
  border-radius: 360px;
  margin: 20px 0px 5px;
  width: 300px;
}
.icon-img {
  padding-right: 6px;
}
.below-signUp {
  color: rgb(110, 118, 125);
  width: 300px;
  font-size: 10px;
  margin-bottom: 70px;
}
.Already-have-an-account {
  color: rgb(231, 233, 235);
}
.signUp-btn {
  background-color: rgb(29, 155, 240);
}
.black-btn {
  border: solid 0.1px;
  background-color: black;
  color: rgb(29, 155, 240);
}

/* ----------------------------Left half-----------------------------------------------*/
.LeftHalf-div {
  margin: 0px;
  padding: 0px;
}
.LeftHalf {
  /*float: right;*/
  padding: 0;
  height: 100%;
  max-height: fit-content;
  max-width: fit-content;
}
.twitter-big-img {
  max-width: 100%;
  height: 100%;
}
/* --------------------------------------------------------------------------------------- */
/* @media only screen and (max-width: 700px) {
    .RightHalf {
      flex-direction: row-reverse;
    }
  } */
