.popup {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(91, 112, 131);

  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  border-radius: 10px;
  position: relative;
  padding: 32px;
  width: 100%;
  height: 600px;
  max-width: 640px;
  background-color: #000;
}
.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  left: 16px;
}
.inputTxt {
  display: block;
  color: white;
  width: 100%;
  height: 50px;
  background-color: #000;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 10px;
}

#signinLayout {
  text-align: center;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ************************************************************************************************** */
.signUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(91, 112, 131);

  display: flex;
  justify-content: center;
  align-items: center;
}
.headline{
  margin-top: 30px;
}
.nameArea{
  margin-top: 30px;
}
.signupButton{
  margin-bottom: 20px;
}
.datePicker{
  margin-top: 40px;
}
.signupPutton{
  margin-top: 70px;
  
}
.putInCenter {
  text-align: center;
}

.update-ptn {
  width: 100%;
}
.datePicker{
  margin: 20px 0;
  /* display: block; */
}

.month{
  width: 50%;
  height: 50px;
  margin: 2px;

}
.day{
  width: 23%;
  height: 50px;
  margin: 2px;
}
.year{
  width: 23%;
  height: 50px;
  margin: 2px;
}
